{{define "partials/form-header"}}
<div class="page-header mb-6">
  <h1 class="page-header-title">{{.Title}}</h1>
  {{if .Subtitle}}
  <p class="page-header-subtitle">{{.Subtitle}}</p>
  {{end}}
</div>
{{end}}
