{{define "error404"}}
{{template "base-head" .}}
<div class="flex h-screen w-full items-center justify-center">
  <div class="bg-background flex max-w-lg flex-col items-center justify-center gap-2 rounded-lg p-8 text-center">
    <img src="/static/assets/images/404.svg" alt="" class="w-[300px] h-[150px] text-muted-foreground" />
    <h1 class="text-foreground text-4xl font-bold">Booo!</h1>
    <p class="text-muted-foreground text-sm">La página solicitada no existe. Verifique la URL o regrese a</p>
    <a href="/" class="font-semibold focus-visible:outline-none flex items-center justify-center focus-visible:ring-2 focus-visible:ring-offset-2 bg-primary text-primary-foreground hover:bg-primary/90 focus-visible:ring-primary px-5 py-2 text-sm rounded-lg">
      Página de inicio
    </a>
  </div>
</div>
{{template "base-foot" .}}
{{end}}
